*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    height: 100%;
    width: 100%;
}

#root{
    height: 100vh;
    padding: 0rem 11.5rem;
    background: #FFE7D1;

}

header{
    height: 10rem;
    background-color: #FFE7D1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
}

header h1{
    font-size: 4rem;
}


header label{
    font-size: 2rem;
}

header button{
    height: 4.8rem;
    width: 20rem;
    border: 2px solid #000000;
    background-color: #ED4D1B;
    box-shadow: 4px 4px #000000;
    font-weight: 500;
    font-size: 2rem;
}


#titulo{
    display: flex;
    justify-content: center ;
    align-items: center;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 6rem;
    font-weight: bolder;
}

#se_inscreva{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 159.64px;
    
    
}

section{
    display: flex;
    align-items: center;
    justify-content: center;

}

section h1{
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 67.2px;
}

section button{

    height: 4.8rem;
    width: 22.5rem;

    border: 2px solid #000000;
    background-color: #ED4D1B;
    box-shadow: 4px 4px #000000;

    font-weight: 500;
    font-size: 2rem;
}

#img_principal{
    height: 56.1rem;
    width: 84.2rem;
}

span{
    display: flex;
    color: #ED4D1B;
}

p{
    font-size: 2.4rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42.5rem;
    width: 46.4rem;
    gap: 3.2rem;
}

#seta{
    width: 9.75rem;
    height: 11rem;
    text-align: end;
}

.vetor {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


